<div ng-controller="AutoOTPCtrl">
<!--
<div ng-init="autootpAppSettingStepDisable = false; autootpAppSettingSaveDisable = true; autootpAppSettingDeleteDisable = true">
-->
<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" >
    <h1>{{:: 'authentication' | translate}}</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

	<br>
	<legend>
		<span class="text ng-binding">{{:: 'application-setting' | translate}}</span>
	</legend>
		
    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label for="step" class="col-md-2 control-label">{{:: 'autootp-step' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select required id="autootpAppSettingStep"  kc-autootp-step-save data-ng-disabled="autootpAppSettingStepDisable" ng-change="" ng-model="realm.attributes.autootpAppSettingStep" class="form-control" >
                        <option value="1step">{{:: '1-step-authentication' | translate}}</option>
                        <option value="2step">{{:: '2-step-authentication' | translate}}</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'autootp-step-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-appname' | translate}}</label>
            <div class="col-md-6">
                <input required type="text" id="autootpAppSettingName"  data-ng-disabled="autootpAppSettingNameDisable" ng-change="autootpAppSettingSaveDisable = false" ng-model="realm.attributes.autootpAppSettingName" class="form-control"  >
            </div>
            <kc-tooltip>{{:: 'autootp-appname-tooltip' | translate}}</kc-tooltip>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-domain' | translate}}</label>
            <div class="col-md-6">
                <input required type="text" id="autootpAppSettingDomain"  data-ng-disabled="autootpAppSettingDomainDisable" ng-change="autootpAppSettingSaveDisable = false" ng-model="realm.attributes.autootpAppSettingDomain" class="form-control"  >
            </div>
            <kc-tooltip>{{:: 'autootp-domain-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-ip' | translate}}</label>
            <div class="col-md-6">
                <input required type="text" id="autootpAppSettingIpAddress"  data-ng-disabled="autootpAppSettingIpAddressDisable" ng-change="autootpAppSettingSaveDisable = false" ng-model="realm.attributes.autootpAppSettingIpAddress" class="form-control" >
            </div>
            <kc-tooltip>{{:: 'autootp-ip-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-proxy' | translate}}</label>
            <div class="col-md-6">
                <input required type="text" id="autootpAppSettingProxyServerDomain"  data-ng-disabled="autootpAppSettingProxyServerDomainDisable" ng-change="autootpAppSettingSaveDisable = false" ng-model="realm.attributes.autootpAppSettingProxyServerDomain" class="form-control"  >
            </div>
            <kc-tooltip>{{:: 'autootp-proxy-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-email' | translate}}</label>
            <div class="col-md-6">
                <input required type="text" id="autootpAppSettingEmail"  data-ng-disabled="autootpAppSettingEmailDisable" ng-change="autootpAppSettingSaveDisable = false" ng-model="realm.attributes.autootpAppSettingEmail" class="form-control">
            </div>
            <kc-tooltip>{{:: 'autootp-email-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button id="autootpAppSettingSave" kc-autootp-app-save data-ng-disabled="autootpAppSettingSaveDisable" >{{:: 'save' | translate}}</button>
                <button id="autootpAppSettingDelete" kc-autootp-delete data-ng-disabled="autootpAppSettingDeleteDisable" >{{:: 'delete' | translate}}</button>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-domaintoken' | translate}}</label>
            <div class="col-md-6">
                <input readonly="" type="text" id="autootpReturnDomainValidationToken"  data-ng-disabled="autootpReturnDomainValidationTokenDisable" ng-model="realm.attributes.autootpReturnDomainValidationToken" class="form-control" >
            </div>
            <kc-tooltip>{{:: 'autootp-domaintoken-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-serverprocess' | translate}}</label>
            <div class="col-sm-6">
                <input readonly="" type="text" id="autootpReturnServerProgress"  data-ng-disabled="autootpReturnServerProgressDisable" ng-model="realm.attributes.autootpReturnServerProgress" class="form-control" >
                <input class="form-control" type="hidden" id="autootpReturnServerProgressStatus"  ng-model="realm.attributes.autootpReturnServerProgressStatus"  >
            </div>
            <kc-tooltip>{{:: 'autootp-serverprocess-tooltip' | translate}}</kc-tooltip>
        </div>
        
        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
            
                <button id="autootpDevcenterReload" kc-devcenter-reload data-ng-disabled="autootpDevcenterReloadDisable" >{{:: 'autootp-serverprocess-reload' | translate}}</button>
                <button id="autootpDevcenterRemail" kc-devcenter-remail data-ng-disabled="autootpDevcenterRemailDisable" >{{:: 'autootp-serverprocess-remail' | translate}}</button>
                <button id="autootpDevcenterRemailSetting" kc-devcenter-remail-setting data-ng-disabled="autootpDevcenterRemailSettingDisable" >{{:: 'autootp-serverprocess-remail-setting' | translate}}</button>
            </div>
        </div>
        
	<legend>
		<span class="text ng-binding">{{:: 'autootp-serversetting' | translate}}</span>
	</legend>
	
        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-appserverkey' | translate}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="autootpServerSettingAppServerKey"  data-ng-disabled="autootpServerSettingAppServerKeyDisable" ng-change="autootpServerSettingSaveDisable = false;autootpServerSettingClearDisable = false;" ng-model="realm.attributes.autootpServerSettingAppServerKey" >
            </div>
            <kc-tooltip>{{:: 'autootp-appserverkey-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="appName">{{:: 'autootp-authserverdomain' | translate}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="autootpServerSettingAuthServerDomain" data-ng-disabled="autootpServerSettingAuthServerDomainDisable" ng-change="autootpServerSettingSaveDisable = false;autootpServerSettingClearDisable = false;" ng-model="realm.attributes.autootpServerSettingAuthServerDomain" >
                <input class="form-control" type="hidden" id="autootpAppSettingappID" ng-model="realm.attributes.autootpAppSettingappID">
            </div>
            <kc-tooltip>{{:: 'autootp-authserverdomain-tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button id="autootpServerSettingSave" kc-autootp-server-save data-ng-disabled="autootpServerSettingSaveDisable"  >{{:: 'save' | translate}}</button>
                <button id="autootpServerSettingClear" kc-autootp-server-clear data-ng-disabled="autootpServerSettingClearDisable"  >{{:: 'clear' | translate}}</button>
            </div>
        </div>

    </form>

</div>
</div>

<kc-menu></kc-menu>
